<!DOCTYPE html>
<html lang="cn-ZH">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <style></style>
  </head>
  <body>
    <div id="app">
      <h2>{{message}}</h2>
      <ul v-if="fruits.length>0">
        <li v-for="item in fruits">{{item}}</li>
      </ul>
      <h3 v-else>当前没有数据,请获取数据后显示</h3>
    </div>

    <script src="../lib/vue.js"></script>
    <script>
      const app = Vue.createApp({
        data() {
          return {
            message: 'Fruit List',
            fruits: ['banana', 'apple', 'peach', 'orange'],
          }
        },
        methods: {},
      })
      app.mount('#app')
    </script>
  </body>
</html>
